.box{
    height: 100px;
    width: 100px;
    background-color: pink;
}
.firstElement{
    text-align: center;
    padding: 5px;
    margin: 5px;

   
}
.box:hover{
    background-color: red;
    scale: 1.2;
    transition: cubic-bezier();
    transition-duration: 1s;

}
.firstElement:hover{
    transition: cubic-bezier();
    transition-duration: 1s;
    

}
.main{
    display: flex;

    gap: 20px
}